* {
  border: none;
  border-radius: 0;
  font-family:
    RobotoMono NerdFont,
    Roboto,
    Noto Sans CJK JP,
    sans-serif,
    HackNerdFont-Regular;
  font-weight: bold;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: white;
}

window#waybar #window {
  /*margin-top: 6px;*/
  padding: 0 3px;
  margin: 0 5px;
  background: transparent;
  border-bottom: 3px solid #44475a;
  border-top: 2px solid transparent;
}

window > box {
  background: rgba(17, 17, 27, 0.8);
  color: white;
  padding: 2px;
}

.modules-center {
  color: white;
  border-bottom: 0px transparent;
}

.modules-left,
.modules-right {
  border-bottom: 3px transparent;
}

tooltip {
  color: white;
  background-color: #171717;
  text-shadow: none;
}

#workspaces {
  margin-left: 10px;
  margin-right: 2px;
}

#workspaces button {
  padding: 0 3px;
  margin: 0px 2px 0px 2px;
  min-width: 0px;
  color: #999999;
  background: transparent;
  border-bottom: 3px solid transparent;
  border-top: 2px solid transparent;
}

#workspaces button.focused {
  padding: 0 3px;
  color: #ffffff;
  border-bottom: 3px solid #44475a;
  border-top: 2px solid #171717;
  /*border-radius: 3px;*/
}

#window,
#clock,
#gamemode,
#cpu,
#memory,
#temperature,
#network,
#bluetooth,
#pulseaudio,
#custom-clipboard,
#custom-weather,
#tray,
#mode,
#custom-playerctl,
#custom-update {
  padding: 0 2px;
  margin: 0 5px;
  background: transparent;
  border-top: 2px solid transparent;
}

#gamemode {
  border-bottom: 3px solid #cdd6f4;
}

#clock {
  border-bottom: 3px solid #44475a;
}

#cpu {
  border-bottom: 3px solid #fab387;
}

#memory {
  border-bottom: 3px solid #fab387;
}

#cpu.warning,
#memory.warning {
  color: #11111b;
  background-color: #df8e1d;
  border-bottom-color: #df8e1d;
}

#cpu.critical,
#memory.critical {
  color: #11111b;
  background-color: #d20f39;
  border-bottom-color: #d20f39;
}

#network {
  border-bottom: 3px solid #eba0ac;
}

#network.disconnected {
  border-bottom: 3px solid #ff676e;
}

#bluetooth {
  border-bottom: 3px solid #a6e3a1;
}

#pulseaudio {
  border-bottom: 3px solid #a6e3a1;
}

#pulseaudio.muted {
  border-bottom: 3px solid #bfbfbf;
}

#custom-clipboard {
  border-bottom: 3px solid #cba6f7;
}

#custom-weather {
  border-bottom: 3px solid #89dceb;
}

#temperature {
  background: #f0932b;
}

#temperature.critical {
  background: #eb4d4b;
}

#tray {
  border-bottom: 3px solid #89b4fa;
}

#tray > .needs-attention {
  color: pink;
}

#custom-update {
  border-bottom: 3px solid #b4befe;
}

#custom-notification {
  font-family: "Hack Nerd Font";
  padding-right: 10px;
  padding-left: 5px;
}
