* {
  border: none;
  border-radius: 0;
  font-family:
    RobotoMono NerdFont,
    Roboto,
    Noto Sans CJK JP,
    sans-serif,
    HackNerdFont-Regular;
  font-weight: bold;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: white;
}

window#waybar #window {
  /*margin-top: 6px;*/
  padding: 0 3px;
  margin: 0 5px;
  background: transparent;
  border-bottom: 3px solid #44475a;
  border-top: 2px solid transparent;
}

window > box {
  background: rgba(17, 17, 27, 0.8);
  color: white;
  padding: 2px;
}

.modules-center {
  color: white;
  border-bottom: 0px transparent;
}

.modules-left,
.modules-right {
  border-bottom: 3px transparent;
}

tooltip {
  color: white;
  background-color: #171717;
  text-shadow: none;
}

#workspaces {
  margin-left: 10px;
  margin-right: 2px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
  padding: 0 3px;
  margin: 0px 2px 0px 2px;
  min-width: 0px;
  color: #999999;
  background: transparent;
  border-bottom: 3px solid transparent;
  border-top: 2px solid transparent;
}

#workspaces button.focused {
  padding: 0 3px;
  color: #ffffff;
  border-bottom: 3px solid #44475a;
  border-top: 2px solid #171717;
  /*border-radius: 3px;*/
}

#window,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#bluetooth,
#pulseaudio,
#custom-clipboard,
#custom-idle_inhibitor,
#custom-disk,
#custom-weather,
#language,
#tray,
#mode,
#custom-playerctl,
#idle_inhibitor,
#custom-update {
  padding: 0 2px;
  margin: 0 5px;
  background: transparent;
  border-top: 2px solid transparent;
}

#clock {
  border-bottom: 3px solid #44475a;
}

#battery {
  border-bottom: 3px solid #ffb52a;
}

#battery.charging {
  /*border-bottom: 3px solid #51e258;*/
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  0% {
    border-bottom: 3px solid transparent;
  }
  100% {
    border-bottom: 3px solid #ffb52a;
  }
}

@keyframes blinkLow {
  from {
    border-bottom: 3px solid transparent;
  }
  to {
    border-bottom: 3px solid #ff6e67;
  }
}

*#battery.critical:not(.charging) {
  animation-name: blinkLow;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
  border-bottom: 3px solid #fab387;
}

#memory {
  border-bottom: 3px solid #fab387;
}

#backlight {
  border-bottom: 3px solid #90b1b1;
}

#network {
  border-bottom: 3px solid #eba0ac;
}

#network.disconnected {
  border-bottom: 3px solid #ff676e;
}

#bluetooth {
  border-bottom: 3px solid #a6e3a1;
}

#pulseaudio {
  border-bottom: 3px solid #a6e3a1;
}

#pulseaudio.muted {
  border-bottom: 3px solid #bfbfbf;
}

#custom-idle_inhibitor {
  border-bottom: 3px solid #51e258;
}

#custom-disk {
  border-bottom: 3px solid #51e258;
}

#custom-clipboard {
  border-bottom: 3px solid #cba6f7;
}

#custom-weather {
  border-bottom: 3px solid #89dceb;
}

#language {
  border-bottom: 3px solid #f8f8f2;
}

#temperature {
  background: #f0932b;
}

#temperature.critical {
  background: #eb4d4b;
}

#tray {
  border-bottom: 3px solid #89b4fa;
}

#custom-update {
  border-bottom: 3px solid #b4befe;
}

#idle_inhibitor {
  background-color: #171717;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#custom-notification {
  font-family: "Hack Nerd Font";
  padding-right: 10px;
  padding-left: 5px;
}
